<p id="notice"><%= notice %></p>

<p>
  <strong>Estadocivil:</strong>
  <%= @estado_civil.estadoCivil %>
</p>

<%= link_to 'Edit', edit_estado_civil_path(@estado_civil) %> |
<%= link_to 'Back', estado_civils_path %>
