<%= form_with(model: view_consultum, local: true) do |form| %>
  <% if view_consultum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(view_consultum.errors.count, "error") %> prohibited this view_consultum from being saved:</h2>

      <ul>
      <% view_consultum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
