<p id="notice"><%= notice %></p>

<p>
  <strong>Nivelacdemico:</strong>
  <%= @nivel_academico.nivelAcdemico %>
</p>

<%= link_to 'Edit', edit_nivel_academico_path(@nivel_academico) %> |
<%= link_to 'Back', nivel_academicos_path %>
